{{{html}}}

<section class="single-cta">
    {{#has visibility="paid"}}
        <h2 class="single-cta-title">这篇文章仅供付费订阅者查阅</h2>
    {{/has}}
    {{#has visibility="members"}}
        <h2 class="single-cta-title">这篇文章仅供订阅者可查阅</h2>
    {{/has}}
    {{#has visibility="filter"}}
        <h2 class="single-cta-title">这篇文章仅 {{tiers}} 可查阅</h2>
    {{/has}}
    {{#if @member}}
        <button class="button single-cta-button" data-portal="account/plans">现在升级</button>
    {{else}}
        <button class="button single-cta-button" data-portal="signup">现在订阅</button>
        <br>
        <button class="button-text single-cta-footer" data-portal="signin">已经有帐户？ 登入</button>
    {{/if}}
</section>